
.todo-list{
  background-color: rgb(198, 251, 251);
  margin: 50px auto ;
  padding: 20px;
  width: 50%;
  box-sizing: content-box;
  border: solid 0.1px cyan;
  border-radius: 10px;
}
.form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputText{
  width: 70%;    
  height: 25px;
}

.inputSubmit{
  width: 20%;
  height: 25px;
}

.list{
  display: flex;
  list-style: none;
  text-align: start;
  list-style-position: outside;
}
h2{
  text-align: center;
  text-decoration: underline;
  color: rgb(42, 44, 44);
}
.checked{
  text-decoration: line-through;
}